# Code Practice #2

Cecilia Figueroa Arrivillaga

October 7, 2018

`````
Question 1
`````

In [93]:
x = [1, 2, 3] 
y = 'bootcamp' 
z=x+y

TypeError: can only concatenate list (not "str") to list

This code cannot run without error because it is not possible to add a string and a list.

`````
Question 2
`````

The function type() gives us the type. The function len() gives us the length (number of elements).

`````
Question 3
`````

You can use the function type() to tell the type of each expression. With this we know that:

2 is an integer

'2' is a string

2.0 is a float

'2.0' is a string

2>1 is a boolean

'Itamar' > 'Chase' is also a boolean (it is comparing two strings)

[1,2] is a list

(1,2) is a tuple

{1: 'one', 2: 'two'} is a dictionary

`````
Question 4
`````

These expressions are booleans. Their values are as follows:

1>=0 is true

1 >= 1 is true

1>1 is false

1==1 is true

1 == 1.0 is true

'Spencer' == "Spencer" is true

2**3 > 3**2 is false

1 >= 0 or 1 <= 2 is true

1 >= 0 and 1 <= 2 is true

`````
Question 5
`````

In [92]:
 if 2>1
     print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-92-a0bf5c01fbc0>, line 1)

This code has a syntax error because it is missing a colon on the first line.

`````
Question 6
`````

In [32]:
if not True:
      print('on the one hand')
else:
      print('but on the other hand')

but on the other hand

This prints "on the one hand"

If we replace 'True' with False, it prints "but on the other hand"

If we insert the word 'not' after 'if', it prints "but on the other hand"

`````
Question 7
`````

In [34]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

This prints "Chase" because cond is True

`````
Question 8
`````

In [36]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']
if len(x) > len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

The expression needed is len(x)>len(y)

`````
Question 9
`````

Slicing allows you to divide/extract a portion of an object. For example, you can extract an element or series of elements in a list or string using 'slice'.

`````
Question 10
`````

In [37]:
x = [1, 2, 3, 4, 5]

In [38]:
#slicing the first element
x[0]

1

In [39]:
#Slicing the last element
x[-1]

5

In [44]:
#Slicing all the elements but the last
x[0:-1]

[1, 2, 3, 4]

To slice:
The first element: x[0]

The last element: x[-1]

All but the last elements: x[0:-1]

`````
Question 11
`````

In [45]:
sentence = 'This is a sentence; please slice it.'

In [85]:
word1 = sentence[0:4]
word2 = sentence[5:7]
word3 = sentence[8]
word4 = sentence[10:18]
word5 = sentence[20:26]
word6 = sentence[27:32]
word7 = sentence[33:35]

Please note that I purposely did not include punctuation as part of any word. This is what I understood from the instructions.

`````
Question 12
`````

In [46]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [47]:
#Slicing the first item
x[0]

1

In [48]:
#Slicing the last item
x[-1]

10

a.) To slice the first item: x[0]

To slice the last item: x[-1]

In [49]:
#Slicing items from 'b' to 3 inclusive
x[3:7]

['b', 'fast', 'slow', 3]

b.) To slice items 'b' to 3 inclusive: x[3:7]

`````
Question 13
`````

In [91]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

`````
Question 14
`````

In [59]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for item in x:
    if type(item) == str:
        print(item)

a
b
fast
slow
Raghu
Liuren

`````
Question 15
`````

The range function essentially generates a list or series of numbers within a given range.

The range(3,12,2) is the list of numbers between 3 and 12 inclusive, with intervals of 2. That is: (3,5,7,9,11)

In [86]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

`````
Question 16
`````

In [61]:
sum = 0
for n in range(0,31,3):
    sum = sum + n
print(sum)

165

`````
Question 17
`````

In [63]:
def pocket_change(pennies, nickels, dimes, quarters):
    value = pennies + 5*nickels + 10*dimes + 25*quarters
    return value/100
#Bonus:
value = pocket_change(1, 2, 3, 4)
print('$' + str(value))

$1.41

`````
Question 18
`````

In [65]:
def notsix(list1):
    list2 = []
    for n in list1:
        nstr = str(n)
        if nstr[0] != '6':
            list2.append(n)
    return list2
notsix([1234, 6783, 6, 4321, 9876])

[1234, 4321, 9876]

`````
Question 19
`````

In [70]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 4321, 9876]

This code is basically doing the same thing that we were asked to do for question 18. It defines a list (old_list) and then creates a new list that contains only the elements in old_list that do not begin with a 6.

`````
Question 20
`````

In [73]:
z = {1: 'one', 2: 'two', 3: 'three'}

In [74]:
z[2]

'two'

a) z is a dictionary with length of 3.

b) The components 1,1,3 are keys. The components 'one','two','three' are values

c) Type in z[2]

d) z.keys() gives you the list of keys in dictionary z. z.values() gives you the list of values in dictionary z.

e) This gives you a list with the keys in z

f) This gives you a list with the values in z

g) This also gives you a list with the keys in z

`````
Question 21
`````

It took me about 2 hours to complete this assignment.